# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Media
img_clean/media/bw/**
img_clean/media/colour/**
media/img/**
media/ani/**
pico/frames/img/**
pico/frames/ani/**

!**/.gitkeep
